In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import calendar

In [2]:
%matplotlib inline
sns.set(context='notebook', style='whitegrid', palette='deep', 
        font='sans-serif', font_scale=1, color_codes=False, 
        rc={'figure.figsize':(20,15), "grid.linewidth": 3})
sns.set_context("paper", font_scale=2.9)

In [3]:
pd.options.display.max_rows = 10
pd.options.display.float_format= '{:,.2f}'.format

In [7]:
df = pd.read_csv('dataset/avocado.csv', index_col='Date')
df.index = pd.to_datetime(df.index)

In [8]:
df.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,"64,236.62","1,036.74","54,454.85",48.16,"8,696.87","8,603.62",93.25,0.00,conventional,2015,Albany
2015-12-20,1,1.35,"54,876.98",674.28,"44,638.81",58.33,"9,505.56","9,408.07",97.49,0.00,conventional,2015,Albany
2015-12-13,2,0.93,"118,220.22",794.70,"109,149.67",130.50,"8,145.35","8,042.21",103.14,0.00,conventional,2015,Albany
2015-12-06,3,1.08,"78,992.15","1,132.00","71,976.41",72.58,"5,811.16","5,677.40",133.76,0.00,conventional,2015,Albany
2015-11-29,4,1.28,"51,039.60",941.48,"43,838.39",75.78,"6,183.95","5,986.26",197.69,0.00,conventional,2015,Albany

In [10]:
del df['Unnamed: 0']

In [11]:
df['month'] = df.index.month
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])

In [12]:
df['Revenue'] = df['AveragePrice'] * df['Total Volume']

In [14]:
df = df.rename(columns={'4046': 'Hass_S', '4225':'Hass_X', '4770':'Hass_XL'})

df = df.reindex(columns= ['AveragePrice', 'Total Volume','Revenue', 'Hass_S', 'Hass_X', 'Hass_XL',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year',
       'region'])

In [15]:
df.head()

,AveragePrice,Total Volume,Revenue,Hass_S,Hass_X,Hass_XL,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,1.33,"64,236.62","85,434.70","1,036.74","54,454.85",48.16,"8,696.87","8,603.62",93.25,0.00,conventional,2015,Albany
2015-12-20,1.35,"54,876.98","74,083.92",674.28,"44,638.81",58.33,"9,505.56","9,408.07",97.49,0.00,conventional,2015,Albany
2015-12-13,0.93,"118,220.22","109,944.80",794.70,"109,149.67",130.50,"8,145.35","8,042.21",103.14,0.00,conventional,2015,Albany
2015-12-06,1.08,"78,992.15","85,311.52","1,132.00","71,976.41",72.58,"5,811.16","5,677.40",133.76,0.00,conventional,2015,Albany
2015-11-29,1.28,"51,039.60","65,330.69",941.48,"43,838.39",75.78,"6,183.95","5,986.26",197.69,0.00,conventional,2015,Albany

In [17]:
df_2015 = df.loc['2015']

In [23]:
df_2016 = df.loc['2016']

In [24]:
df_2017 = df.loc['2017']

In [25]:
df_2018 = df.loc['2018']

In [35]:
df_organic = df[type  '==organic']

SyntaxError: invalid syntax (<ipython-input-35-cf1f3aab224f>, line 1)