In [1]:
import pandas as pd
import numpy as np

In [2]:
# loading the data into the notebook
df = pd.read_csv(r"C:\Users\Dorome\Documents\GitHub\Data-Analysis-using-Python\Dataset\avocado.csv",
                index_col='Date')

In [3]:
df.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18249 entries, 2015-12-27 to 2018-01-07
Data columns (total 13 columns):
Unnamed: 0      18249 non-null int64
AveragePrice    18249 non-null float64
Total Volume    18249 non-null float64
4046            18249 non-null float64
4225            18249 non-null float64
4770            18249 non-null float64
Total Bags      18249 non-null float64
Small Bags      18249 non-null float64
Large Bags      18249 non-null float64
XLarge Bags     18249 non-null float64
type            18249 non-null object
year            18249 non-null int64
region          18249 non-null object
dtypes: float64(9), int64(2), object(2)
memory usage: 1.9+ MB

In [5]:
n_row, n_column = df.shape
print('The number of rows:', n_row)
print('The number of columns:', n_column)

The number of rows: 18249
The number of columns: 13

In [6]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2015-12-27', '2015-12-20', '2015-12-13', '2015-12-06',
               '2015-11-29', '2015-11-22', '2015-11-15', '2015-11-08',
               '2015-11-01', '2015-10-25',
               ...
               '2018-03-11', '2018-03-04', '2018-02-25', '2018-02-18',
               '2018-02-11', '2018-02-04', '2018-01-28', '2018-01-21',
               '2018-01-14', '2018-01-07'],
              dtype='datetime64[ns]', name='Date', length=18249, freq=None)

In [7]:
print('This is the first date in the dataset:', df.index[0])
print()
print('This is the last date in the dataset:', df.index[-1])

This is the first date in the dataset: 2015-12-27 00:00:00

This is the last date in the dataset: 2018-01-07 00:00:00

In [8]:
n_region = df['region']. nunique()
print('The number of regions in the Dataset is:', n_region)

The number of regions in the Dataset is: 54

In [9]:
region_name = df['region'].unique()
print('This is the list of the different Regions:')
region_name

This is the list of the different Regions: ['Albany' 'Atlanta' 'BaltimoreWashington' 'Boise' 'Boston'
 'BuffaloRochester' 'California' 'Charlotte' 'Chicago' 'CincinnatiDayton'
 'Columbus' 'DallasFtWorth' 'Denver' 'Detroit' 'GrandRapids' 'GreatLakes'
 'HarrisburgScranton' 'HartfordSpringfield' 'Houston' 'Indianapolis'
 'Jacksonville' 'LasVegas' 'LosAngeles' 'Louisville' 'MiamiFtLauderdale'
 'Midsouth' 'Nashville' 'NewOrleansMobile' 'NewYork' 'Northeast'
 'NorthernNewEngland' 'Orlando' 'Philadelphia' 'PhoenixTucson' 'Pittsburgh'
 'Plains' 'Portland' 'RaleighGreensboro' 'RichmondNorfolk' 'Roanoke'
 'Sacramento' 'SanDiego' 'SanFrancisco' 'Seattle' 'SouthCarolina'
 'SouthCentral' 'Southeast' 'Spokane' 'StLouis' 'Syracuse' 'Tampa'
 'TotalUS' 'West' 'WestTexNewMexico']

In [ ]:
type_name = df['type'].unique()
print('This is the list of the different types of Avocado:')
type_name

#### Missing Data Analysis

In [10]:
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return(null_count)

In [11]:
# counting missing data within columns
missing_data = df.apply(count_missing)
print('Missing data count by columns')
print()
print(missing_data)

Missing data count by columns

Unnamed: 0      0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64